<div>

      <div class="container py-3">
        <header>
          <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
              <span class="fs-4">Vista de productos</span>
            </a>
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
              <a class="me-3 py-2 text-dark text-decoration-none" href="/">Formulario</a>
            </nav>
          </div>
        </header>
      </div>

      <div class="container-lg p-4">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">URL Foto</th>
              </tr>  
            </thead>
               {{#if productos.length}}
               {{#each productos}}
            <tbody>
              <tr>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td><img height="72px" width="72px" src={{this.thumbnail}} /></td>
              </tr>
                {{/each}}
                {{/if}}
            </tbody>

        </table>
      </div>
</div>
